.bannerSectionhp{height: 100vh;margin-bottom: 150px;
    .bannerWrapper{height: 100%;position: relative;@include wrapper;
        .bannerBg{width: 100%;height: 100%;
            img{width: 100%;height: 100%;object-fit: cover;}
            video{position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;object-fit: cover;}
        }
        .bannerContent{position: absolute;top: 50%;transform: translateY(-50%);width: 50%;
            h1{@include font100;font-family: $fonthelveticaneuebold;color: $colorWhite;text-transform: capitalize;letter-spacing: -3px;line-height: 100%;}
            h2{@include font32;font-family: $fonthelveticaneuelight;color: rgba(255, 255, 255, 0.8);line-height: 112%;margin-top: 48px;}
        }
        .bannerbtmLinks{position: absolute;padding: 0px 100px;bottom: 40px;right: 0;left: 0;
            ul{display: flex;align-items: center;flex-wrap: wrap;justify-content: center;
                li{padding-right: 60px;position: relative;@include font18;font-family: $fonthelveticaneuemedium;color: $colorWhite;letter-spacing: 0.2px;line-height: normal;text-align: center;margin-bottom: 10px;
                    &::before{content: "";position: absolute;width: 12px;height: 12px;background: #CE0F11;border-radius: 50%;right: 25px;top: 50%;transform: translateY(-50%)}
                    &:last-child{padding-right: 0px;
                        &::before{content: none}
                    }
                }
            }
        }
    }
    @media screen  and (max-width:1800px){
        .bannerWrapper{
            .bannerbtmLinks{padding: 0px 90px;
                ul{
                    li{padding-right: 50px;
                    }
                }
            }
        }
    }

    @media screen  and (max-width:1600px){margin-bottom: 120px;
        .bannerWrapper{
            .bannerContent{
                h1{letter-spacing: 0px;}
                h2{margin-top: 40px;letter-spacing: 2px;}
            }
            .bannerbtmLinks{padding: 0px  80px;bottom: 30px;
                ul{
                    li{padding-right: 40px;letter-spacing: 1px;font-size: 16px;
                        &::before{width: 10px;height: 10px;right: 17px;}
                    }
                }
            }
        }
    }
    @media screen  and (max-width:1440px){margin-bottom: 100px;
        .bannerWrapper{
            .bannerContent{
                h2{margin-top: 30px;}
            }
            .bannerbtmLinks{padding: 0px 60px;bottom: 25px;
                ul{
                    li{padding-right: 30px;font-size: 14px;
                        &::before{width: 9px;height: 9px;right: 12px;}
                    }
                }
            }
        }
    }
    @media screen  and (max-width:1280px){margin-bottom: 80px;
        .bannerWrapper{
            .bannerContent{
                h2{margin-top: 24px;}
            }
            .bannerbtmLinks{padding: 0px 40px;bottom: 20px;
                ul{
                    li{padding-right: 25px;font-size: 12px;
                        &::before{right: 9px;width: 7px;height: 7px;}
                    }
                }
            }
        }
    }
    @media screen  and (max-width:820px){margin-bottom: 120px;
        .bannerWrapper{
            .bannerContent{top: 200px;margin: 0 auto;width: 90%;
            }
            .bannerbtmLinks{padding: 0px;bottom: 25px;
                ul{
                    li{padding-right: 60px;font-size: 14px;
                        &::before{right: 26px;width: 10px;height: 10px;}
                    }
                }
            }
        }
    }
    @media screen  and (max-width:768px){
        .bannerWrapper{
            .bannerContent{top: 180px;margin: 0 auto;
            }
            .bannerbtmLinks{
                ul{
                    li{padding-right: 50px;font-size: 14px;
                        &::before{right: 26px;}
                    }
                }
            }
        }
    }
}

.enterpriseSection{margin-bottom: 150px;
    .enterpriseWrapper{@include wrapper;
        .secHeading{margin-bottom: 134px;position: relative;
            h2{@include font48;font-family: $fonthelveticaneuelight;line-height: 100%;letter-spacing: 0px;color: $colorBlack;letter-spacing: 1px;text-transform: capitalize;text-align: center;}
            &::before{content: "";position: absolute;width: 260px;background: rgba(0, 0, 0, 0.80);height: 1px;left: 0;right: 0;margin: 0 auto;bottom: -30px;}
        }
        .enterpriseLogos{
            .logoDiv{display: flex;justify-content: space-between;flex-wrap: wrap;
                .innerBoxes{width: 20%;border-bottom: 1px solid #343434;display: flex;align-items: center;justify-content: center;padding: 50px 0px;
                    &:nth-last-child(1),&:nth-last-child(2),&:nth-last-child(3),&:nth-last-child(4),&:nth-last-child(5){border-bottom: none;}
                    img{margin: 0 auto;}
                }
            }
        }
    }
    @media screen and (max-width:1600px) {margin-bottom: 120px;
        .enterpriseWrapper{
            .secHeading{margin-bottom: 120px;
                h2{letter-spacing: 1px;}
                &::before{width: 250px;bottom: -26px;}
            }
            .enterpriseLogos{
                .logoDiv{
                    .innerBoxes{padding: 40px 0px;
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:1440px) {margin-bottom: 100px;
        .enterpriseWrapper{
            .secHeading{margin-bottom: 100px;
                &::before{width: 240px;bottom: -24px;}
            }
            .enterpriseLogos{
                .logoDiv{
                    .innerBoxes{padding: 35px 0px;
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:1200px) {margin-bottom: 80px;
        .enterpriseWrapper{
            .secHeading{margin-bottom: 80px;
                &::before{width: 230px;bottom: -22px;}
            }
            .enterpriseLogos{
                .logoDiv{
                    .innerBoxes{padding: 35px 0px;
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:1024px) {margin-bottom: 120px;
        .enterpriseWrapper{
            .secHeading{margin-bottom: 75px;
                &::before{width: 200px;bottom: -22px;}
            }
            .enterpriseLogos{
                .logoDiv{
                    .innerBoxes{padding: 35px 0px;width: 33.33%;border-bottom: none !important;
                        &:nth-last-child(1),&:nth-last-child(2),&:nth-last-child(3){border-bottom: none;}
                        &:nth-last-child(4),&:nth-last-child(5){border-bottom: 1px solid #343434;}
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:720px) {
        .enterpriseWrapper{
            .secHeading{
                &::before{width: 200px;bottom: -16px;}
            }
            .enterpriseLogos{
                .logoDiv{
                    .innerBoxes{padding: 50px 0px;width: 50%;border-bottom: none !important;
                    }
                }
            }
        }
        
    }
}


.pioneerSlidersec{margin-bottom: 150px;
    .pionnerwrapper{
        .secHeading{margin-bottom: -200px;position: relative;z-index: 2;width: 45%;padding-left:  230px;
            h3{@include font48;font-family: $fonthelveticaneuemedium;letter-spacing: 0px;line-height: normal;color: $colorGray;}
            h2{@include font160;font-family: $fonthelveticaneuebold;text-transform: capitalize;letter-spacing: -4px;line-height: normal;color: $colorGray;}
        }
        .pioneerSlider{margin-bottom: 0px;
            .innerSlides{display: flex;align-items: center;justify-content: space-between;padding: 0px 230px;
                .contentDiv{width: 42%;text-align: left; margin-top: 170px;
                    h3{@include font48;font-family: $fonthelveticaneuebold;letter-spacing: -1px;line-height: 66%;color: $colorGray;}
                    p{@include font24;font-family: $fonthelveticaneuelight;line-height: normal;color: $colorGray;margin-top: 24px;width: 60%;}
                    a{margin-top: 30px;}
                }
                .imageDiv{width: 46%;position: relative ;
                    .mainImg{border-radius: 50%;overflow: hidden;position: relative;}
                    .dots{position: absolute;bottom: 10px;right: -50px;}
                }
            }
            .slick-dots{bottom: 50px;left: 230px;width: unset;
                li{width: 10px ;height:10px;border-radius:90px;margin: 0px 6px;transition: 0.5s all ease-in-out;
                    button{width: 100%;height: 100%;border-radius:90px;background: transparent;padding: 0;background: #343434;
                        &::before{font-size: 0;}
                    }
                    &:hover{background: #343434;}
                }
                .slick-active{width: 65px;height:10px;transition: 0.5s all ease-in-out;
                    button{width: 100%;height: 100%;
                        background: #343434;
                        &::before{
                            opacity: unset;
                            color: #343434;
                        }
                    }
                }
            }
            .slick-prev,
            .slick-next {position: absolute;top: 50%;transform: translateY(-50%);width: 40px;height: 40px;cursor: pointer;z-index: 2;border: 1px solid #000;border-radius: 50%;
                &.slick-next {right: 80px;
                &::before {display: block;scale: 0.8;
                        content: url(../images/timeline-next-arrow.svg);
                    }
                }
                &.slick-prev {left: 80px;
                    &::before {display: block;scale: 0.8;
                        content: url(../images/timeline-prev-arrow.svg);
                    }
                }
            }
        }
    }
    @media screen and (max-width:1600px) {margin-bottom: 120px;
        .pionnerwrapper{
            .secHeading{width: 50%;padding-left:  190px;
                h2{letter-spacing: -2px;}
            }
            .pioneerSlider{
                .innerSlides{padding: 0px 190px;
                    .contentDiv{width: 45%;
                        h3{letter-spacing: 0px;}
                        p{margin-top: 20px;width: 65%;}
                    }
                    .imageDiv{width: 42%;
                        .dots{bottom: 10px;right: -88px;}
                    }
                }
                .slick-dots{bottom: 30px;left: 190px;
                    li{width: 9px;height:9px;margin: 0px 5px;}
                    .slick-active{width: 60px;height:9px;
                    }
                }
                .slick-prev,
                .slick-next {width: 38px;height: 38px;
                    &.slick-next {right: 70px;
                    &::before {scale: 0.7;}
                    }
                    &.slick-prev {left: 70px;
                        &::before {scale: 0.7;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1440px) {margin-bottom: 100px;
        .pionnerwrapper{
            .secHeading{padding-left:  160px;
                h2{letter-spacing: -1px;}
            }
            .pioneerSlider{
                .innerSlides{padding: 0px 160px;
                    .contentDiv{width: 48%;
                        p{margin-top: 18px;width: 70%;}
                    }
                    .imageDiv{width: 44%;
                        .dots{bottom: 9px;right: -98px;}
                    }
                }
                .slick-dots{bottom: 25px;left: 160px;
                    li{width: 8px;height:8px;margin: 0px 4px;}
                    .slick-active{width: 65px;height:8px;
                    }
                }
                .slick-prev,
                .slick-next {width: 34px;height: 34px;
                    &.slick-next {right: 60px;
                    &::before {scale: 0.6;}
                    }
                    &.slick-prev {left: 60px;
                        &::before {scale: 0.6;}
                    }
                }
            }
        }
    }
    
    @media screen and (max-width:1280px) {
       .pionnerwrapper{ 
        .secHeading{margin-bottom: -170px;}
            .pioneerSlider{
                .slick-dots{bottom: 0px;
                }
            }
        }
    }

    @media screen and (max-width:1024px) {margin-bottom: 120px;
        .pionnerwrapper{
            .secHeading{margin-bottom: -120px;padding-left:  120px;
            }
            .pioneerSlider{
                .innerSlides{padding: 0px 120px;
                    .contentDiv{width: 48%;
                        p{margin-top: 16px;width: 75%;}
                    }
                    .imageDiv{width: 45%;
                        .dots{bottom: 8px;right: -58px;width: 140px;}
                    }
                }
                .slick-dots{bottom: -20px;left: 120px;}
                .slick-prev,
                .slick-next {width: 30px;height: 30px;
                    &.slick-next {right: 40px;
                    &::before {scale: 0.6;}
                    }
                    &.slick-prev {left: 40px;
                        &::before {scale: 0.6;}
                    }
                }
            }
        }
    }

    @media screen and (max-width:820px) {
        .pionnerwrapper{
            .secHeading{margin-bottom: 50px;padding: 0px 50px;width: 100%;text-align: center;
            }
            .pioneerSlider{
                .innerSlides{padding: 0px 50px;flex-direction: column-reverse;
                    .contentDiv{width: 100%;margin-top: 50px;
                        p{margin-top: 24px;width: 100%;}
                    }
                    .imageDiv{width: 70%;margin: 0 auto;
                        .dots{bottom: 12px;right: -75px;width: 170px;}
                    }
                }
                .slick-dots{bottom: -70px;left: 0;right: 0;}
                .slick-prev,
                .slick-next {width: 30px;height: 30px;
                    &.slick-next {right: 40px;
                    &::before {scale: 0.6;}
                    }
                    &.slick-prev {left: 40px;
                        &::before {scale: 0.6;}
                    }
                }
            }
        }
    }

    @media screen and (max-width:720px) {
        .pionnerwrapper{
            .secHeading{padding: 0px 20px;text-align: left;
                h2{font-size: 90px;}
            }
            .pioneerSlider{
                .innerSlides{padding: 0px 20px;
                    .contentDiv{margin-top: 32px;padding-left: 20px;
                        h3{line-height: 133%;}
                        p{line-height: 125%;color: #000;}
                    }
                    .imageDiv{width: 90%;
                        .dots{bottom: -12px;right: -56px;width: 150px;}
                    }
                }
                .slick-next,.slick-prev{display: none !important;}
            }
        }
    }
}


.onboardingJourneysec{margin-bottom: 150px;
    .innerWrapper{@include wrapper;
        .secHeading{text-align: center;
            h2{@include font48;font-family: $fonthelveticaneuelight;text-transform: capitalize;line-height: 100%;letter-spacing: 0px;color: $colorGray;text-align: center;position: relative;
                &::before{content: "";position: absolute;bottom: -22px;left: 0;right: 0;height: 1px;width: 154px;background: rgba(0, 0, 0, 0.80);margin: 0 auto}
            }
            p{@include font24;line-height: 141%;font-family: $fonthelveticaneuelight;line-height: normal;margin: 40px auto 48px;color: $colorGray;text-align: center;width: 50%;}
        }
        .onboardingSliderData{display: none;}
        .journeyData{display: flex;margin-top: 72px;align-items: flex-start;
            .contentDiv{width: 35%;
                &:nth-child(1) .innerBoxes{
                    h3{&::after{left: unset;right: -52px;width: 56px;height: 2px;bottom: -19px;transform: rotate(40deg);}}
                }
                &:last-child{
                    .innerBoxes{
                        .journeyinnerData{padding-left: 100px;}
                        h3{padding-left: 100px;}
                    }
                }
                &:nth-child(1) .innerBoxes:nth-child(2),  &:last-child .innerBoxes:nth-child(2){
                    h3{&::after{content: none;}}
                }
                &:nth-child(1) .innerBoxes:nth-child(3){
                    h3{&::after{left: unset;right: -52px;width: 56px;height: 2px;bottom: 16px;transform: rotate(-40deg);}}
                }
                &:last-child .innerBoxes:nth-child(3){
                    h3{&::after{left: -52px;right: unset;width: 56px;height: 2px;bottom: 16px;transform: rotate(40deg);}}
                }
                .innerBoxes{margin-bottom: 150px;height: 164px;
                    &:last-child{margin-bottom: 0px;}
                    
                    h3{@include font32;font-family: $fonthelveticaneuebold;color: $colorBlue;line-height: normal;margin-bottom: 24px;position: relative;border-bottom: 1px dashed #1C43B9;
                        &::after{content: "";position: absolute;left: -46px;width: 50px;height: 2px;bottom: -19px;transform: rotate(-40deg);border-bottom: 1px dashed #1C43B9}
                    }
                    .journeyinnerData{
                        h4{@include font24;font-family: $fonthelveticaneuebold;color: #4D4D4D;line-height: 133%;margin-bottom: 16px;}
                        ul{
                            li{@include font18;font-family: $fonthelveticaneuelight;color: #4D4D4D;line-height: 160%;position: relative;padding-left: 20px;
                                &::before{content: "";position: absolute;top:14px;left: 0;width: 6px;height: 6px;background: #4D4D4D;border-radius: 50%;}
                            }
                        }
                    }
                }
            }
            .centerCirclediv{width: 30%;
                .outerborderDiv{position: relative;border-radius: 50%;border: 3px solid #1C43B9;padding: 80px;
                    .mainImg{border-radius: 50%;overflow: hidden;}
                    .journeyIcons{position: absolute;background: #1C43B9;height: 100px;width: 100px;border-radius: 50%;display: flex;align-items: center;justify-content: center;
                        &::before{content: "";position: absolute;border-radius: 50%;border: 1px solid #8BA8FF;width: 125px;height: 125px;left: -13px;}
                        &::after{content: "";position: absolute;border-radius: 50%;border: 1px solid #8BA8FF;width: 110px;height: 110px;left: -6px;}
                        &:nth-child(2){top: 7%;left: 5%;}
                        &:nth-child(3){top: 50%;left: -6%;transform: translateY(-50%);}
                        &:nth-child(4){top: 79%;left: 8%;}
                        &:nth-child(5){top: 7%;right: 5%;}
                        &:nth-child(6){top: 50%;right: -6%;transform: translateY(-50%);}
                        &:nth-child(7){top: 79%;right: 8%;}
                    }
                }
            }
        }
    }

    @media screen and (max-width:1920px) {
        .innerWrapper{
            .journeyData{
                .contentDiv{width: 40%;
                    &:last-child .innerBoxes:nth-child(3){
                        h3{&::after{left: -46px;right: unset;width: 50px;height: 2px;bottom: 15px;transform: rotate(40deg);}}
                    }
                    .innerBoxes{margin-bottom: 60px;}
                }
                .centerCirclediv{width: 32%;
                    .outerborderDiv{
                        .journeyIcons{height: 80px;width: 80px;
                            &::before{width: 105px;height: 105px;}
                            &::after{width: 90px;height: 90px;}
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:1800px) {
        .innerWrapper{
            .journeyData{
                .contentDiv{width: 36%;
                    &:last-child .innerBoxes:nth-child(3){
                        h3{&::after{left: -46px;right: unset;width: 50px;height: 2px;bottom: 15px;transform: rotate(40deg);}}
                    }
                    .innerBoxes{margin-bottom: 40px;height: 200px;h3{margin-bottom: 18px;}}
                }
                .centerCirclediv{width: 38%;
                }
            }
        }
    }
    
    @media screen and (max-width: 1600px) {margin-bottom: 120px;
        .innerWrapper{
            .secHeading{
                h2{
                    &::before{bottom: -20px;}
                }
                p{margin: 35px auto 40px;}
            }
           
            
            .journeyData{margin-top: 60px;
               .contentDiv .innerBoxes{margin-bottom: 32px;}
               .centerCirclediv{width: 38%;
                    .outerborderDiv{padding: 60px;
                        .journeyIcons{height: 70px;width: 70px;
                            &::before{width: 95px;height: 95px;}
                            &::after{width: 80px;height: 80px;}
                            &:nth-child(2){left: 8%;}
                            &:nth-child(5){right: 8%;}
                        }
                    }
                }
            }
        }
        
    }
    @media screen and (max-width: 1440px) {margin-bottom: 100px;
        .innerWrapper{
            .secHeading{
                h2{
                    &::before{bottom: -18px;}
                }
                p{margin: 30px auto 30px;}
            }
            .journeyData{
                .contentDiv{width: 35%;
                    &:nth-child(1){width: 32%;}
                    &:last-child .innerBoxes{
                        h3{padding-left: 80px;margin-bottom: 12px;}
                        .journeyinnerData{padding-left: 80px;}
                    }
                    .innerBoxes{margin-bottom: 20px;height: 194px;h3{margin-bottom: 16px;font-size: 22px;}.journeyinnerData ul li{font-size: 16px;}}
                }
                .centerCirclediv{
                    .outerborderDiv{padding: 50px;
                        .journeyIcons{height: 60px;width: 60px;
                            &::before{width: 85px;height: 85px;}
                            &::after{width: 70px;height: 70px;}
                            &:nth-child(2){left: 8%;}
                            &:nth-child(5){right: 8%;}
                        }
                    }
                }
            }
        }
        
    }
    @media screen and (max-width: 1280px) {margin-bottom: 80px;
        .innerWrapper{
            .secHeading{
                h2{
                    &::before{bottom: -17px;}
                }
                p{margin: 25px auto 25px;}
            }
            .journeyData{
                .contentDiv{width: 36%;
                    &:nth-child(1){width: 30%;}
                    &:last-child .innerBoxes{
                        h3{padding-left: 70px;margin-bottom: 10px;}
                        .journeyinnerData{padding-left: 70px;}
                    }
                    .innerBoxes{margin-bottom: 20px;height: 160px;
                        h3{margin-bottom: 16px;}
                        .journeyinnerData ul li{font-size: 14px;}
                        .journeyinnerData h4{margin-bottom: 10px;}
                    }
                }
                .centerCirclediv{width: 34%;
                    .outerborderDiv{padding: 45px;
                        .journeyIcons{height: 50px;width: 50px;
                            &::before{width: 75px;height: 75px;}
                            &::after{width: 60px;height: 60px;}
                            &:nth-child(4){top: 83%;left: 11%;}
                            &:nth-child(7){top: 83%;right: 11%;}
                        }
                    }
                }
            }
            
        }
        
    }

    @media screen and (max-width: 1024px) {margin-bottom: 120px;
        .innerWrapper{
            .secHeading{
                h2{
                    &::before{bottom: -18px;}
                }
                p{margin: 28px auto 28px;}
            }
            .journeyData{display: none;}
            .onboardingSliderData{display: block;margin-top: 50px;;
                .centerCirclediv{width: 90%;margin: 0 auto;padding: 0px 50px;
                    .outerborderDiv{position: relative;border-radius: 50%;border: 3px solid #1C43B9;padding: 60px;
                        .mainImg{border-radius: 50%;overflow: hidden;}
                        .journeyIcons{position: absolute;background: #1C43B9;height: 80px;width: 80px;border-radius: 50%;display: flex;align-items: center;justify-content: center;
                            &::before{content: "";position: absolute;border-radius: 50%;border: 1px solid #8BA8FF;width: 105px;height: 105px;left: -13px;}
                            &::after{content: "";position: absolute;border-radius: 50%;border: 1px solid #8BA8FF;width: 90px;height: 90px;left: -6px;}
                            &:nth-child(2){top: 11%;left: 6%;}
                            &:nth-child(3){top: 43%;left: -5%;}
                            &:nth-child(4){top: 76%;left: 5%;}
                            &:nth-child(5){top: 11%;right: 6%;}
                            &:nth-child(6){top: 43%;right: -5%;}
                            &:nth-child(7){top: 76%;right: 5%;}
                        }
                    }
                }
                .onboardingSlider{padding: 0px 50px;margin-top: 32px;
                    .innerBoxes{margin-bottom: 70px;border-top: 1px solid #808080;border-bottom: 1px solid #808080;padding: 15px 0px;
                       
                        h3{font-size: 32px;font-family: $fonthelveticaneuebold;color: $colorBlue;line-height: normal;position: relative;}
                        .journeyinnerData{
                            h4{font-size: 24px;font-family: $fonthelveticaneuebold;color: #000;line-height: 133%;margin-bottom: 10px;}
                            ul{
                                li{@include font24;font-family: $fonthelveticaneuemedium;color: #000;line-height: 160%;position: relative;
                                }
                            }
                        }
                    }
                }
                .slick-dots{bottom: 20px;right: 0;left: 0;width: unset;
                    li{width: 7px;height:7px;border-radius:90px;margin: 0px 5px;transition: 0.5s all ease-in-out;
                        button{width: 100%;height: 100%;border-radius:90px;background: transparent;padding: 0;background: #343434;
                            &::before{font-size: 0;}
                        }
                        &:hover{background: #343434;}
                    }
                    .slick-active{width: 24px;height:7px;transition: 0.5s all ease-in-out;
                        button{width: 100%;height: 100%;
                            background: #343434;
                            &::before{
                                opacity: unset;
                                color: #343434;
                            }
                        }
                    }
                }
            }
        }
        
    }

    @media screen and (max-width: 820px) {
        .innerWrapper{
            .secHeading{
                h2{
                    &::before{bottom: -16px;}
                }
                p{margin: 20px auto 24px;width: 100%;}
            }
            .onboardingSliderData{margin-top: 32px;;
                .centerCirclediv{padding: 0px 20px;
                    .outerborderDiv{padding: 50px;
                        .journeyIcons{height: 70px;width: 70px;
                            &::before{width: 85px;height: 85px;left: -9px;}
                            &::after{width: 75px;height: 75px;left: -3px;}
                        }
                    }
                }
                .onboardingSlider{padding: 0px 20px;
                }
            }
        }
        
    }

    @media screen and (max-width: 720px) {
        .innerWrapper{
            .secHeading{
                p{margin: 30px auto 24px;}
            }
            .onboardingSliderData{
                .centerCirclediv{padding: 0px 20px;width: 100%;
                    .outerborderDiv{padding: 30px;
                        .journeyIcons{height: 42px;width: 42px;img{width: 18px;}
                            &::before{width: 50px;height: 50px;left: -5px;}
                            &::after{width: 45px;height:45px;left: -3px;}
                            &:nth-child(2){top: 2%;left: 13%;}
                            &:nth-child(3){top: 45%;left: -7%;}
                            &:nth-child(4){top: 85%;left: 16%;}
                            &:nth-child(5){top: 2%;right: 13%;}
                            &:nth-child(6){top: 45%;right: -7%;}
                            &:nth-child(7){top: 85%;right: 16%;}
                        }
                    }
                }
                .onboardingSlider{padding: 0px 20px;
                    .innerBoxes{
                        h3{font-size: 24px;}
                        .journeyinnerData{
                            h4{font-size: 16px;}
                            ul{
                                li{@include font16;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}


.productfamSection{
    .innerWrapper{@include wrapper;
        .secHeading{margin-bottom: 60px;text-align: center;position: relative;
            h2{@include font48;font-family: $fonthelveticaneuelight;text-transform: capitalize;line-height: 100%;letter-spacing: 0px;color: $colorGray;text-align: center;}
            &::before{content: "";position: absolute;bottom: -22px;left: 0;right: 0;height: 1px;width: 154px;background: rgba(0, 0, 0, 0.80);margin: 0 auto}
        }
        .prodfamSlides{  counter-reset: card;position: relative; display: block;padding-bottom: 200px;
            .slider{ 
                .innerDiv{position: sticky;top: 5rem}
                .tabs{text-align: center;margin-bottom: 30px;display: flex;align-items: center;justify-content: center;
                    .tab{background: transparent !important;outline: none;cursor: pointer;margin-right: 50px;text-align: center;
                        
                        span{@include font12;font-family: $fonthelveticaneuelight;letter-spacing: 1px;color: $colorWhite;background: #CE0F11;padding: 5px;border-radius: 6px;margin-left: 8px;}
                        &:last-child{margin-right: 0px}
                        h3{@include font20;font-family: $fonthelveticaneuebold;line-height: 120%;color: $colorGray;text-align: center;}
                        &.active{position: relative;
                            &::after{content: "";position: absolute;width: 100%;height: 3px;background: $colorRed;left: 0;right: 0;}
                        }
                    }
                }
                .slide {width: 100%;border-radius: 34.359px;border: 0.687px solid rgba(0, 0, 0, 0.20);background: #FFF;box-shadow: 13.744px 13.744px 20.615px 0px rgba(0, 0, 0, 0.20);display: flex;padding: 35px;;align-items: center;justify-content: space-between; --offset: 1em;position: sticky;top: max(16vh, 10em);
                    @for $i from 0 through 7 {
                        &:nth-of-type(#{$i}) {
                          transform: translateY( calc((#{$i} - 1) * var(--offset)));
                        }
                      }
                    .dataImg{border-radius: 28px;overflow: hidden;width: 52%;}
                    .dataContent{width: 40%;
                        h4{@include font20;font-family: $fonthelveticaneuebold;color: $colorGray;line-height: 100%;letter-spacing: 0px;text-transform: uppercase;}
                        h3{@include font40;font-family: $fonthelveticaneuebold;color: $colorGray;line-height: 125%;letter-spacing: -1px;margin: 30px 0px;width: 75%;}
                        p{@include font20;font-family: $fonthelveticaneuelight;color: $colorGray;line-height: 150%;margin-bottom: 30px;width: 65%;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1600px) {
        .innerWrapper{
            .secHeading{margin-bottom: 50px;
                &::before{bottom: -20px;width: 144px;}
            }
            .prodfamSlides{
                .tabs{margin-bottom: 34px;
                    .tab{margin-right: 40px;
                    }
                }
                .slider{
                    .slide {padding: 30px;
                        .dataImg{width: 50%;}
                        .dataContent{width: 42%;
                            h3{letter-spacing: 0px;margin: 26px 0px;width: 78%;}
                            p{margin-bottom: 26px;width: 68%;}
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:1400px) {
        .innerWrapper{
            .secHeading{margin-bottom: 46px;
                &::before{bottom: -18px;width: 134px;}
            }
            .prodfamSlides{
                .tabs{margin-bottom: 32px;
                    .tab{margin-right: 35px;
                    }
                }
                .slider{
                    .slide {padding: 28px;
                       .dataContent{width: 43%;
                            h3{margin: 22px 0px;width: 80%;}
                            p{margin-bottom: 24px;width: 70%;}
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:1280px) {
        .innerWrapper{
            .secHeading{margin-bottom: 42px;
            }
            .prodfamSlides{
                .tabs{margin-bottom: 30px;
                    .tab{margin-right: 30px;
                    }
                }
                .slider{
                    .slide {padding: 26px;
                       .dataContent{width: 45%;
                            h3{margin: 18px 0px;width: 100%;}
                            p{margin-bottom: 24px;width: 100%;}
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:1024px) {
        .innerWrapper{
            .secHeading{margin-bottom: 38px;
            }
            .prodfamSlides{
                
                .slider{
                    .slide {
                       .dataContent{width: 47%;
                            h3{margin: 14px 0px;line-height: 112%;}
                            p{margin-bottom: 20px;line-height: 132%;}
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:820px) {
        .innerWrapper{
            .secHeading{margin-bottom: 50px;}
            .prodfamSlides{
                .innerDiv{overflow-x: scroll;-ms-overflow-style: none; /* for Internet Explorer, Edge */scrollbar-width: none; /* for Firefox */
                    &::-webkit-scrollbar {display: none; /* for Chrome, Safari, and Opera */}}
                .tabs{margin-bottom: 24px;justify-content: flex-start;width: max-content;
                    .tab{margin-right: 40px;text-align: left;
                    }
                }
                .slider{
                    .slide {display: block;padding: 24px;
                        .dataImg{width: 100%;}
                       .dataContent{width: 100%;margin-top: 24px;
                            h3{margin: 12px 0px;line-height: 112%;}
                            p{margin-bottom: 21px;line-height: 132%;}
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:720px) {
        .innerWrapper{
            .prodfamSlides{
                
                .slider{
                    .slide {padding: 20px;
                        .dataContent a{width: 100%;}
                    }
                }
            }
        }
    }
}
 

.pin-spacer{margin: 0px 0px 150px !important;
    @media screen and (max-width:1600px) {
        margin: 0px 0px 120px !important;
    }
    @media screen and (max-width:1400px) {
        margin: 0px 0px 100px !important;
    }
    @media screen and (max-width:1280px) {
        margin: 0px 0px 80px !important;
    }
    @media screen and (max-width:1024px) {
        margin: 0px 0px 120px !important;
    }
    @media screen and (max-width:820px) {
        margin: 0px !important;
    }
}
.fraudstoriesSec{height: 100vh;display: flex;justify-content: center;align-items: center; position: relative;width: 100%; 
    .innerWrapper{@include wrapper;
        .secHeading{
            h2{@include font48;font-family: $fonthelveticaneuelight;text-transform: capitalize;line-height: 100%;letter-spacing: 0px;color: $colorGray;text-align: center;position: relative;
                &::before{content: "";position: absolute;bottom: -22px;left: 0;right: 0;height: 1px;width: 154px;background: rgba(0, 0, 0, 0.80);margin: 0 auto}
            }
            p{@include font24;line-height: 141%;font-family: $fonthelveticaneuelight;line-height: normal;margin: 40px auto 0px;color: $colorGray;text-align: center;width: 50%;}
        }
        .boxContent{position: relative;margin-top: 40px;
            .box-container{
                #boxesData{position: absolute;top: 8%;left: -45%;width: 74%;border-radius: 20px;border: 0.685px solid rgba(0, 0, 0, 0.20);background: #FFF;box-shadow: 13.705px 13.705px 20.557px 0px rgba(0, 0, 0, 0.20);padding: 35px 45px;transition: 0.7s all ease-in-out;
                    &:nth-child(2){top: 40%;right: -40%;left: unset;}
                    &:nth-child(3){top: 60%;left: -45%}
                    p{@include font24;font-family: $fonthelveticaneuelight;line-height: 133%;color: #080808;}
                    a{margin-top: 20px;display: none;}
                }
                .activeBoxes{border-radius: 20px;border: 0.685px solid rgba(0, 0, 0, 0.20); background: #1C43B9 !important;box-shadow: 13.705px 13.705px 20.557px 0px rgba(0, 0, 0, 0.20);transition: 0.7s all ease-in-out;width: 88% !important;left: -46% !important;
                    &:nth-child(2){left: unset !important;}
                    p{font-size: 30px !important;color: $colorWhite !important;}
                    a{display: inline-flex !important;}
                }
            }
            .box-container-two{
                #boxesImg{border-radius: 50%;overflow: hidden;margin: 0 auto;
                    .dotsInner{position: absolute;top: 22%;right: 11%;}
                }
               #boxesImg{display: none;width: 72%;}
                .active-two{display: block !important;}
            }
        }
    }

    @media screen and (max-width:1800px) {
        .innerWrapper{
            .boxContent{margin-top: 32px;
                .box-container{
                    #boxesData{width: 70%;left: -30%;
                        &:nth-child(2){top: 40%;right: -32%;left: unset;}
                        &:nth-child(3){top: 64%;left: -30%}
                    }
                    .activeBoxes{width: 70% !important;left: -30% !important;
                    }
                }
            }
        }
    }

    @media screen and (max-width:1600px) {
        .innerWrapper{
            .secHeading{
                h2{
                    &::before{bottom: -20px;width: 164px;}
                }
                p{margin: 32px auto 0px;width: 55%;}
            }
            .boxContent{margin-top: 32px;
                .box-container{
                    #boxesData{width: 54%;padding: 24px 32px;top: 4%;left: -24%;
                        &:nth-child(2){top: 43%;right: -20%;left: unset;}
                        &:nth-child(3){top: 64%;left: -24%}
                        a{margin-top: 18px;}
                    }
                    .activeBoxes{width: 70% !important;left: -25% !important;
                        p{font-size: 24px !important;}
                    }
                }
                .box-container-two{
                    #boxesImg{
                        .dotsInner{top: 18%;right: 15%;}
                    }
                   #boxesImg{width: 56%;}
                }
            }
        }
    }

    @media screen and (max-width:1440px) {
        .innerWrapper{
            .secHeading{
                h2:before{bottom: -17px;}
                p{margin: 30px auto 0px;}
            }
            .boxContent{margin-top: 30px;
                .box-container{
                    #boxesData{width: 47%;padding: 20px 26px;top: 3%;left: -11%;
                        &:nth-child(2){top: 39%;right: -13%;}
                        &:nth-child(3){top: 66%;left: -11%}
                        a{margin-top: 16px;}
                    }
                    .activeBoxes{width: 62% !important;left: -11% !important;
                        p{font-size: 22px !important;}
                    }
                }
                .box-container-two{
                    #boxesImg{
                        .dotsInner{top: 18%;right: 15%;}
                    }
                   #boxesImg{width: 56%;}
                }
            }
        }
    }
    @media screen and (max-width:1280px) {
        .innerWrapper{
            .secHeading{
                p{margin: 25px auto 0px;}
            }
            .boxContent{margin-top: 28px;
                .box-container{
                    #boxesData{width: 42%;padding: 18px 22px;top: 4%;left: -8%;
                        &:nth-child(2){top: 37%;right: -9%;}
                        &:nth-child(3){top: 62%;left: -8%}
                        a{margin-top: 14px;}
                        p{font-size: 16px;}
                    }
                    .activeBoxes{width: 56% !important;left: -8% !important;
                        p{font-size: 20px !important;}
                    }
                }
                .box-container-two{
                    #boxesImg{
                        .dotsInner{top: 16%;right: 15%;}
                    }
                   #boxesImg{width: 56%;}
                }
            }
        }
    }

    @media screen and (max-width:1024px) {
        .innerWrapper{
            .secHeading{
                h2:before{bottom: -13px;}
                p{margin: 20px auto 0px;}
            }
            .boxContent{margin-top: 24px;
                .box-container{
                    #boxesData{width: 40%;padding: 16px 20px;top: 4%;left: 0;
                        &:nth-child(2){top: 34%;right: 0%;}
                        &:nth-child(3){top: 63%;left: 0%}
                        a{margin-top: 12px;}
                        p{font-size: 14px;}
                    }
                    .activeBoxes{width: 43% !important;left: 0% !important;
                        p{font-size: 18px !important;}
                    }
                }
                .box-container-two{
                    #boxesImg{
                        .dotsInner{top: 14%;right: 17%;}
                    }
                   #boxesImg{width: 58%;}
                }
            }
        }
    }

    @media screen and (max-width:820px) {height: auto;
        .innerWrapper{
            .secHeading{
                p{color: #000;;width: 100%;}
            }
            .boxContent{display: none;}
        }
    }
}


.fraudStoryslidermbl{margin-bottom: 80px;display: none;
    .fraudStoryslider{ margin-top: 36px;margin-bottom: 0px;
        .boxSlides{padding: 0px 50px;
            .imgDiv{position: relative;
                .innerImg{border-radius: 50%;overflow: hidden;}
                .dotsInner{position: absolute;top: 5%;right: 0%;img{width: 170px;}}
            }
            .contentDiv{border-radius: 20px;background: #1C43B9;padding: 24px 32px;box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.20);transform: translateY(-44%);
                p{font-size: 24px;font-family: $fonthelveticaneuelight;letter-spacing: 1.7px;line-height: normal;color: $colorWhite;margin-bottom: 23px;}
                a{width: 100%;}
            }
        }
    }
    .slick-dots{bottom: 40px;right: 0;left: 0;width: unset;
        li{width: 7px;height:7px;border-radius:90px;margin: 0px 5px;transition: 0.5s all ease-in-out;
            button{width: 100%;height: 100%;border-radius:90px;background: transparent;padding: 0;background: #343434;
                &::before{font-size: 0;}
            }
            &:hover{background: #343434;}
        }
        .slick-active{width: 24px;height:7px;transition: 0.5s all ease-in-out;
            button{width: 100%;height: 100%;
                background: #343434;
                &::before{
                    opacity: unset;
                    color: #343434;
                }
            }
        }
    }
    @media screen and (max-width:820px) {display: block;}
    @media screen and (max-width:720px) {
        .fraudStoryslider{ 
            .boxSlides{padding: 0px 20px;
                .imgDiv{
                    .dotsInner{top: 2%;right: 0%;img{width: 100px;}}
                }
                .contentDiv{transform: translateY(-23%);
                    p{font-size: 20px;letter-spacing: 1px;}
                }
            }
        }
    }
}



.clientsSection{margin-bottom: 150px;
    .innerWrapper{@include wrapper;
        .secHeading{margin-bottom: 60px;text-align: center;position: relative;
            h2{@include font48;font-family: $fonthelveticaneuelight;text-transform: capitalize;line-height: 100%;letter-spacing: 0px;color: $colorGray;text-align: center;}
            &::before{content: "";position: absolute;bottom: -22px;left: 0;right: 0;height: 1px;width: 154px;background: rgba(0, 0, 0, 0.80);margin: 0 auto}
        }
        .clientSlider{border-radius: 50px;border: 1px solid rgba(0, 0, 0, 0.20);
            .clientsliderSlides{display: flex;align-items: center;justify-content: space-between;padding: 80px 90px 60px;
                .imgnameDiv{width: 28%;position: relative;
                    .imgBox{border-radius: 50%;overflow: hidden;border: 6px solid #1C43B9;
                        img{border: 6px solid #fff;border-radius: 50%;}
                        .dotsInner{position: absolute;top: -18px;left: -65px;img{border: none;border-radius: unset;}}
                    }
                    .nameDiv{margin-top: 32px;
                        h4{@include font24;font-family: $fonthelveticaneuebold;line-height: 141%;color: $colorGray;text-align: center;}
                        h5{@include font20;font-family: $fonthelveticaneuelight;line-height: normal;color: $colorGray;text-align: center;margin-top: 8px;}
                    }
                }
                .contentDiv{width: 65%;padding-right: 110px;
                    h3{@include font48;font-family: $fonthelveticaneuelight;line-height:  normal;color: $colorGray;text-align: left;}
                }
            }
            .slick-dots{bottom: 72px;right: 84px;width: unset;
                li{width: 10px;height:10px;border-radius:90px;margin: 0px 6px;transition: 0.5s all ease-in-out;
                    button{width: 100%;height: 100%;border-radius:90px;background: transparent;padding: 0;background: #343434;
                        &::before{font-size: 0;}
                    }
                    &:hover{background: #343434;}
                }
                .slick-active{width: 128px;height:10px;transition: 0.5s all ease-in-out;
                    button{width: 100%;height: 100%;
                        background: #343434;
                        &::before{
                            opacity: unset;
                            color: #343434;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:1600px){margin-bottom: 120px;
        .innerWrapper{
            .secHeading{margin-bottom: 50px;
                &::before{bottom: -20px;width: 164px;}
            }
            .clientSlider{
                .clientsliderSlides{padding: 70px 70px 50px;
                    .imgnameDiv{
                        .imgBox{
                            .dotsInner{top: -18px;left: -33px;width: 180px;}
                        }
                        .nameDiv{margin-top: 28px;
                            h5{margin-top: 7px;}
                        }
                    }
                    .contentDiv{width: 62%;padding-right: 80px;
                    }
                }
                .slick-dots{bottom: 68px;right: 74px;
                    li{width: 9px;height:9px;margin: 0px 5px;}
                    .slick-active{width: 120px;height:9px;}
                }
            }
        }
    }

    @media screen and (max-width:1400px){margin-bottom: 100px;
        .innerWrapper{
            .secHeading{margin-bottom: 40px;
                &::before{bottom: -18px;width: 170px;}
            }
            .clientSlider{
                .clientsliderSlides{padding: 60px 50px 40px;
                    .imgnameDiv{
                        .imgBox{
                            .dotsInner{top: -20px;left: -26px;width: 140px;}
                        }
                        .nameDiv{margin-top: 24px;
                            h5{margin-top: 6px;}
                        }
                    }
                    .imgnameDiv{width: 26%;}
                    .contentDiv{width: 65%;padding-right: 70px;
                    }
                }
                .slick-dots{bottom: 30px;right: 60px;
                    li{width: 9px;height:9px;margin: 0px 5px;}
                    .slick-active{width: 120px;height:9px;}
                }
            }
        }
    }
    @media screen and (max-width:1024px){margin-bottom: 120px;
        .innerWrapper{
            .secHeading{margin-bottom: 32px;
                &::before{bottom: -14px;width: 180px;}
            }
            .clientSlider{
                .clientsliderSlides{padding: 40px 40px 30px;
                    .imgnameDiv{
                        .imgBox{
                            .dotsInner{top: -12px;left: -10px;width: 100px;}
                        }
                        .nameDiv{margin-top: 20px;
                            h5{margin-top: 5px;}
                        }
                    }
                    .imgnameDiv{width: 24%;}
                    .contentDiv{width: 68%;padding-right: 40px;
                    }
                }
                .slick-dots{bottom: 10px;right: 40px;
                    li{width: 7px;height:7px;margin: 0px 4px;}
                    .slick-active{width: 100px;height:7px;}
                }
            }
        }
    }

    @media screen and (max-width:820px){margin-bottom: 240px;
        .innerWrapper{
            .clientSlider{border: none;box-shadow: none;margin-top: 60px;
                .clientsliderSlides{padding: 0px;display: block;
                    .imgnameDiv{width: 70%;margin: 0 auto;
                        .imgBox{
                            .dotsInner{top: -12px;left: 30px;width: 150px;}
                        }
                        .nameDiv{margin-top: 20px;
                            h4{font-size: 24px;}
                            h5{margin-top: 8px;}
                        }
                    }
                    .contentDiv{width: 90%;padding-right: 0px;margin: 30px auto 0px;h3{text-align: center;}
                    }
                }
                .slick-dots{bottom: -90px;right: 0;left: 0;
                    .slick-active{width: 24px;height:7px;}
                }
            }
        }
    }

    @media screen and (max-width:720px){
        .innerWrapper{
            .clientSlider{
                .clientsliderSlides{padding: 10px 0px 0px;
                    .imgnameDiv{width: 60%;margin: 0 auto;
                        .imgBox{border: 3px solid #1C43B9;
                            .dotsInner{top: -17px;left: -23px;width: 100px;}
                        }
                        .nameDiv{margin-top: 20px;
                            h4{font-size: 20px;}
                            h5{margin-top: 5px;font-size: 20px;}
                        }
                    }
                    .contentDiv{width: 90%;padding-right: 0px;
                        h3{font-size: 20px;}
                    }
                }
            }
        }
    }
}


.awardscertificateSec{margin-bottom: 150px;
    .innerWrapper{padding: 0px 110px;
        .secHeading{margin-bottom: 100px;text-align: center;position: relative;
            h2{@include font48;font-family: $fonthelveticaneuelight;text-transform: capitalize;line-height: 100%;letter-spacing: 0px;color: $colorGray;text-align: center;}
            &::before{content: "";position: absolute;bottom: -22px;left: 0;right: 0;height: 1px;width: 154px;background: rgba(0, 0, 0, 0.80);margin: 0 auto}
        }
        .awardCertiInner{display: flex;align-items: flex-start;justify-content: space-between;
            .awardDiv{width: 29%;display: flex;align-items: flex-start;position: relative;flex-flow: wrap;justify-content: space-between;
                &::before{content: "";position: absolute;top: 60px;right: -13%;background: rgba(0, 0, 0, 0.20);width: 1px;height: 50%;}
                .imgBox{width: 45%;
                    .imgDiv{width: 220px;height: 220px;padding: 25px;margin: 0 auto;border-radius: 50%;background: #EEEEEE;display: flex;justify-content: center;align-items: center;}
                    .contentDiv{margin-top: 32px;
                        h3{@include font20;font-family: $fonthelveticaneuelight;line-height: 140%;color: #080808;text-align: center;}
                    }
                }
            }
            .certificateDiv{width: 62%;display: flex;align-items: flex-start;justify-content: space-between;flex-flow: wrap;
                .imgBox{width: 22%;
                    .imgDiv{width: 220px;height: 220px;margin: 0 auto;padding: 25px;;border-radius: 50%;background: #EEEEEE;display: flex;justify-content: center;align-items: center;}
                    .contentDiv{margin-top: 32px;
                        h3{@include font20;font-family: $fonthelveticaneuelight;line-height: 140%;color: #080808;text-align: center;}
                    }
                }
            }
        }
    }

    @media screen and (max-width:1800px) {margin-bottom: 120px;
        .innerWrapper{padding: 0px 90px;
            .secHeading{margin-bottom: 80px;
                &::before{bottom: -20px;width: 164px;}
            }
            .awardCertiInner{
                .awardDiv{width: 29%;
                    &::before{top: 50px;right: -15%;}
                    .imgBox{
                        .imgDiv{width: 190px;height: 190px;padding: 20px;}
                        .contentDiv{margin-top: 30px;}
                    }
                }
                .certificateDiv{width: 62%;
                    .imgBox{
                        .imgDiv{width: 190px;height: 190px;padding: 20px;}
                        .contentDiv{margin-top: 30px;}
                    }
                }
            }
        }
    }


    @media screen and (max-width:1600px) {
        .innerWrapper{
            .awardCertiInner{
                .awardDiv{
                    &::before{top: 45px;right: -19%;}
                    .imgBox{
                        .imgDiv{width: 170px;height: 170px;padding: 18px;}
                        .contentDiv{margin-top: 26px;}
                    }
                }
                .certificateDiv{width: 62%;
                    .imgBox{
                        .imgDiv{width: 170px;height: 170px;padding: 18px;}
                        .contentDiv{margin-top: 26px;}
                    }
                }
            }
        }
    }

    @media screen and (max-width:1440px) {margin-bottom: 100px;
        .innerWrapper{padding: 0px 70px;
            .secHeading{margin-bottom: 70px;
                &::before{bottom: -16px;width: 154px;}
            }
            .awardCertiInner{
                .awardDiv{
                    &::before{top: 26px;right: -14%;}
                    .imgBox{
                        .imgDiv{width: 160px;height: 160px;}
                        .contentDiv{margin-top: 22px;}
                    }
                }
                .certificateDiv{width: 62%;
                    .imgBox{
                        .imgDiv{width: 160px;height: 160px;}
                        .contentDiv{margin-top: 22px;}
                    }
                }
            }
        }
    }

    @media screen and (max-width:1280px) {margin-bottom: 80px;
        .innerWrapper{padding: 0px 60px;
            .awardCertiInner{
                .awardDiv{
                    &::before{top: 22px;}
                    .imgBox{
                        .imgDiv{width: 140px;height: 140px;}
                        .contentDiv{margin-top: 20px;}
                    }
                }
                .certificateDiv{width: 62%;
                    .imgBox{
                        .imgDiv{width: 140px;height: 140px;}
                        .contentDiv{margin-top: 20px;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1024px) {margin-bottom: 120px;
        .innerWrapper{padding: 0px 50px;
            .secHeading{margin-bottom: 60px;}
            .awardCertiInner{
                .awardDiv{
                    &::before{right: -19%;}
                    .imgBox{
                        .imgDiv{width: 120px;height: 120px;}
                        .contentDiv{margin-top: 18px;}
                    }
                }
                .certificateDiv{width: 62%;
                    .imgBox{
                        .imgDiv{width: 120px;height: 120px;}
                        .contentDiv{margin-top: 18px;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:820px) {
        .innerWrapper{padding: 0px 40px;
            .secHeading{margin-bottom: 50px;}
            .awardCertiInner{display: block;
                .awardDiv{width: 100%;margin-bottom: 80px;
                    &::before{right: 0;width: 100%;height: 1px;bottom: -40px;top: unset;}
                    .imgBox{margin-right: 30px;width: 46%;margin-bottom: 40px;
                        &:nth-last-child(1),&:nth-last-child(2){margin-bottom: 0;}
                        &:nth-child(2n+2){margin-right: 0px;}
                        .imgDiv{width: 300px;height: 300px;}
                        .contentDiv{margin-top: 18px;}
                    }
                }
                .certificateDiv{width: 100%;
                    .imgBox{margin-right: 30px;width: 46%;margin-bottom: 40px;
                        &:nth-last-child(1),&:nth-last-child(2){margin-bottom: 0;}
                        &:nth-child(2n+2){margin-right: 0px;}
                        .imgDiv{width: 300px;height: 300px;}
                        .contentDiv{margin-top: 18px;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:720px) {
        .innerWrapper{padding: 0px 20px;
            .awardCertiInner{
                .awardDiv{
                  .imgBox{width: 44%;
                        .imgDiv{width: 150px;height: 150px;}
                        .contentDiv{margin-top: 16px;}
                    }
                }
                .certificateDiv{
                    .imgBox{width: 44%;
                        .imgDiv{width: 150px;height: 150px;}
                        .contentDiv{margin-top: 16px;}
                    }
                }
            }
        }
    }

}





