.bannerSectionhp{height: 100vh;margin-bottom: 260px;
    .bannerWrapper{height: 100%;position: relative;
        .bannerBg{width: 100%;height: 100%;
            img{width: 100%;height: 100%;object-fit: cover;}
        }
        .bannerContent{position: absolute;left: 80px;top: 50%;transform: translateY(-50%);width: 50%;
            h1{@include font100;font-family: $fonthelveticaneuebold;color: $colorWhite;text-transform: capitalize;letter-spacing: -3px;line-height: 100%;}
            h2{@include font32;font-family: $fonthelveticaneuelight;color: rgba(255, 255, 255, 0.8);line-height: 112%;margin-top: 48px;}
        }
        .bannerbtmLinks{position: absolute;right: 230px;bottom: 90px;
            ul{display: flex;align-items: center;
                li{padding-right: 76px;position: relative;
                    &::before{content: "";position: absolute;width: 12px;height: 12px;background: #CE0F11;border-radius: 50%;right: 32px;top: 50%;transform: translateY(-50%)}
                    &:last-child{padding-right: 0px;
                        &::before{content: none}
                    }
                    a{@include font20;font-family: $fonthelveticaneuemedium;color: $colorWhite;letter-spacing: 0.2px;line-height: normal;text-align: center;}
                }
            }
        }
    }
}

.enterpriseSection{margin-bottom: 190px;
    .enterpriseWrapper{@include wrapper;
        .secHeading{margin-bottom: 134px;position: relative;
            h2{@include font32;font-family: $fonthelveticaneuelight;line-height: 102%;color: $colorBlack;letter-spacing: 1px;text-transform: capitalize;text-align: center;}
            &::before{content: "";position: absolute;width: 260px;background: rgba(0, 0, 0, 0.80);height: 1px;left: 0;right: 0;margin: 0 auto;bottom: -30px;}
        }
        .enterpriseLogos{
            .logoDiv{display: flex;justify-content: space-between;flex-wrap: wrap;
                .innerBoxes{width: 20%;border-top: 1px solid #343434;display: flex;align-items: center;justify-content: center;padding: 50px 0px;
                    &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){border-top: none;}
                    img{margin: 0 auto;}
                }
            }
        }
    }
}


.pioneerSlidersec{margin-bottom: 400px;
    .pionnerwrapper{
        .secHeading{margin-bottom: -150px;position: relative;z-index: 2;width: 45%;padding-left:  230px;
            h3{@include font48;font-family: $fonthelveticaneuemedium;letter-spacing: 0px;line-height: normal;color: $colorGray;}
            h2{@include font160;font-family: $fonthelveticaneuebold;text-transform: capitalize;letter-spacing: -4px;line-height: normal;color: $colorGray;}
        }
        .pioneerSlider{margin-bottom: 0px;
            .innerSlides{display: flex;align-items: center;justify-content: space-between;padding: 0px 230px;
                .contentDiv{width: 42%;text-align: left;
                    h3{@include font48;font-family: $fonthelveticaneuebold;letter-spacing: -1px;line-height: 66%;color: $colorGray;}
                    p{@include font24;font-family: $fonthelveticaneuelight;line-height: normal;color: $colorGray;margin-top: 24px;width: 60%;}
                }
                .imageDiv{width: 46%;position: relative;
                    .mainImg{border-radius: 50%;overflow: hidden;position: relative;}
                    .dots{position: absolute;bottom: 10px;right: -50px;}
                }
            }
            .slick-dots{bottom: 32px;left: 230px;width: unset;
                li{width: 10px;height:10px;border-radius:90px;margin: 0px 6px;transition: 0.5s all ease-in-out;
                    button{width: 100%;height: 100%;border-radius:90px;background: transparent;padding: 0;background: #343434;
                        &::before{font-size: 0;}
                    }
                    &:hover{background: #343434;}
                }
                .slick-active{width: 65px;height:10px;transition: 0.5s all ease-in-out;
                    button{width: 100%;height: 100%;
                        background: #343434;
                        &::before{
                            opacity: unset;
                            color: #343434;
                        }
                    }
                }
            }
            .slick-prev,
            .slick-next {position: absolute;top: 50%;transform: translateY(-50%);width: 40px;height: 40px;cursor: pointer;z-index: 2;border: 1px solid #000;border-radius: 50%;
                &.slick-next {right: 80px;
                &::before {display: block;scale: 0.8;
                        content: url(../images/timeline-next-arrow.svg);
                    }
                }
                &.slick-prev {left: 80px;
                    &::before {display: block;scale: 0.8;
                        content: url(../images/timeline-prev-arrow.svg);
                    }
                }
            }
        }
    }
}


.fraudstoriesSec{height: 100vh;display: flex;justify-content: center;align-items: center; position: relative;width: 100%; background-color: #f0f0f0; margin-bottom: 50vh; 
    .innerWrapper{@include wrapper;
        .secHeading{
            h2{@include font32;font-family: $fonthelveticaneuemedium;text-transform: capitalize;line-height: 103%;letter-spacing: 0px;color: $colorGray;text-align: center;}
            p{@include font16;font-family: $fonthelveticaneuelight;line-height: normal;margin: 40px auto 0px;color: $colorGray;text-align: center;width: 20%;}
        }
        .boxContent{
            .box-container-two{
                #boxesImg{border-radius: 50%;overflow: hidden;margin: 0 auto;}
               #boxesImg{display: none;}
                .active-two{display: block !important;}
            }
        }
    }
}
 
  .box-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    .box {
        width: 20%;
        height: 200px;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        transition: background-color 0.3s;
      }
  }
  
  .activeBoxes {
    background-color: #f00;
    color: #fff;
  }
  .box-container-two {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
  }
  .active-two {
    background-color: #00f;
    color: #fff;
  }