header{position: fixed;top: 0;left: 0;right: 0;transition: top 0.5s ease-in-out;background: transparent;width: 100%;z-index: 4;
    &.nav-up{top: -150px;}
    .navbar{@include wrapper;display: flex;justify-content: space-between;align-items: center;
        .logo{width: 109px;overflow: hidden;padding: 24px 0px;}
        .headerContent{display: flex;gap:76px;
            .nav-menu{
                .scroll-nav{
                    .fixCta{display: none;}
                }
            }
            .nav-links{display: flex;gap:66px;align-items: center;
                .dropdown {padding: 24px 0px;position:relative;cursor: pointer;
                    .dropbtn{@include font14;font-family: $fonthelveticaneuebold;line-height: normal;text-transform: capitalize;color: $colorWhite;text-align: center;position: relative;padding-right:20px;
                        &::before{content: "";position: absolute;z-index: 2;background: url("../images/header-dropdown-icon.svg") no-repeat;top: 50%;transform: translateY(-50%);right: 0px;width: 12px;height: 10px;transition:all 0.3s ease-in-out;}
                    }
                    &.active{
                        .dropbtn{&::before{transform: rotate(180deg) translateY(50%);}}
                        .dropdown-content{display: block;padding-top: 12px;}
                    }
                    .dropdown-content{display: none;position:absolute;top:100%;left:50%;transform:translateX(-50%);
                        .dropdown-wrapper{display: flex;background-color: #FFF;padding: 53px 50px;border-radius: 20px;gap:75px;box-shadow: 0px 6px 25px 0px #00000033;
                            &::before{position: absolute;top: -15px;left: 50%;transform: translateX(-50%);content: " ";width: 0;height: 0;border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 15px solid #fff;border-top: 15px solid transparent;}
                            .dropdown-section-idfy{width: calc(28% - 75px);
                                .idfy-wrapper{padding: 30px 40px;border-radius: 30px;border: 1px solid rgba(52, 52, 52, 0.50);
                                    .dropdown-image{margin-bottom: 14px;}
                                    h3{margin-bottom: 9px;@include font32;font-weight: 700;color:$colorBlue;font-family: $fonthelveticaneuebold;line-height: normal;}
                                    p{@include font16;font-weight: 400;line-height: 125%;font-family: $fonthelveticaneuelight;color: $colorBlack;margin-bottom:25px}
                                    ul{
                                        li{@include font16;font-weight: 400;line-height: 125%;font-family: $fonthelveticaneuelight;color: $colorBlack;margin-bottom:25px;display: flex;align-items: center;img{margin-right: 16px;}}
                                    }
                                }
                            }
                            .dropdown-section-menu{width: calc(52% - 75px);
                                .menu-wrapper{display: flex;flex-wrap: wrap;justify-content:space-between;align-items:center;
                                    .dropdown-menu{padding: 20px 32px;flex-basis:44%;display:block;
                                        &:hover{border-radius: 20px;background: rgba(28, 67, 185, 0.10);
                                            &::before{content: none;}
                                        }
                                        h4{@include font20;font-weight: 500;line-height: 100%;font-family: $fonthelveticaneuemedium;margin-bottom: 12px;text-align: left;text-transform: capitalize;}
                                        p{@include font16;font-weight: 400;font-family: $fonthelveticaneuelight;text-transform: capitalize;text-align: left;}
                                    }
                                }
                            }
                            .dropdown-section-portal{border-left:1px solid #D8D8D8;width:20%;
                                .portal-wrapper{padding: 20px 0px 20px 58px;
                                    h5{@include font14;font-weight: 700;line-height: 142.857%;text-transform: uppercase;color:#808080;font-family: $fonthelveticaneuemedium;margin-bottom: 25px;}
                                    ul{
                                        li{
                                            a{@include font20;font-weight: 500;line-height: 100%;font-family: $fonthelveticaneuemedium;color: $colorBlack;margin-bottom: 44px;display: block;text-align: left;text-transform: capitalize;
                                                &:hover{color: $colorRed;}
                                            }
                                        }
                                    }
                                }
                            }
                            .dropdown-section-menu2{width: 100%;
                                .menu-wrapper{display: flex;flex-wrap: wrap;justify-content:space-between;align-items:center;
                                    .dropdown-menu{padding: 20px 32px;display:block;
                                        &:hover{border-radius: 20px;background: rgba(28, 67, 185, 0.10);}
                                        h4{@include font20;font-weight: 500;line-height: 100%;font-family: $fonthelveticaneuemedium;margin-bottom: 12px;text-align: left;text-transform: capitalize;}
                                        p{@include font16;font-weight: 400;font-family: $fonthelveticaneuelight;text-transform: capitalize;text-align: left;}
                                    }
                                }
                            }
                            .idfy360{display: none;}
                        }
                    }
                }
                .dropdown1{
                    .dropdown-content{min-width: 1690px;left: 275%;
                        .dropdown-wrapper{&::before{left: 38%;}}
                    }
                }
                .dropdown2{
                    .dropdown-content{min-width: 1456px;
                        .dropdown-wrapper{
                            .dropdown-section-menu2{
                                .menu-wrapper{justify-content: unset !important;
                                    .dropdown-menu{width:33%}
                                }
                            }
                        }
                    }
                }
                .dropdown3{
                    .dropdown-content{min-width: 784px;
                        .dropdown-wrapper{
                            .dropdown-section-menu2{
                                .menu-wrapper{
                                    .dropdown-menu{width:50%}
                                }
                            }
                        }
                    }
                }
                .dropdown4{
                    .dropdown-content{min-width: 555px;
                        .dropdown-wrapper{
                            .dropdown-section-menu2{
                                .menu-wrapper{gap:40px 0px;
                                    .dropdown-menu{width:45%;padding:0px !important;
                                        &:hover{background: none !important;}
                                        h4{margin-bottom: 0px !important;
                                            &:hover{color: $colorRed;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .dropdown5{
                    .dropdown-content{min-width: 620px;
                        .dropdown-wrapper{
                            .dropdown-section-menu2{
                                .menu-wrapper{gap:40px 0px;
                                    .dropdown-menu{width:45%;padding:0px !important;
                                        &:hover{background: none !important;}
                                        h4{margin-bottom: 0px !important;
                                            &:hover{color: $colorRed;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .custom-select-mobile{display: none;}
            }
            .header-elements{display: flex;gap: 24px;align-items: center;
                .search-icon{cursor: pointer;svg{width:30px;height:30px;}
                    .searchWhite{stroke: #fff;}
                }
                .custom-select{position: relative;display: inline-block;cursor: pointer;
                    .select-selected{position: relative;background-color: transparent;padding: 15px 38px 15px 22px;border-radius: 10px;text-align: center;@include font16;font-family: $fonthelveticaneuemedium;letter-spacing:  -0.32px;text-transform: uppercase;color: $colorWhite;
                        img{display: inline;margin-right: 4px;vertical-align: middle;}
                        &::after{position: absolute;content: url("../images/select-arrow.svg");z-index: 2;top: 50%;transform: translateY(-50%);transition:all 0.3s ease-in-out;padding:0px 4px;}
                        &.active-arrow{border-radius: 10px 10px 0px 0px;box-shadow: 0 1px 4px 0 #00000026;background: #fff;color: $colorBlack;&::after{transform: rotate(180deg) translateY(50%);content: url("../images/select-arrow-black.svg");}}
                    }
                    .select-items{position: absolute;display: none;cursor: pointer;width:100%;text-align:center;border-radius:0px 0px 10px 10px;box-shadow: 0 4px 4px 0 #00000026;background: #fff;
                        li{@include font16;font-family: $fonthelveticaneuemedium;line-height: 100%;letter-spacing:  -0.32px;text-transform: uppercase;color: $colorBlack;padding: 15px 20px;text-align:left;
                            img{display: inline;margin-right: 4px;vertical-align: middle;}
                        }
                    }
                }
            }
            .hamburger-menu{display: none;}
        }
    }
    .Stickybtn{position: fixed;bottom: 40px;z-index: 99;right: 80px;
        &.Stickybtnnew{display: none ;}
        &.Stickybtnnewtwo{display: block !important; a{box-shadow: 0px 10px 25px 8px #00000033;}}
         &.Stickybtnnewfooter{display: none !important;}
        a{display: inline-flex;align-items: center;justify-content: center;height: 50px;width: 50px;border-radius: 50%;background: #fff;}
    }
    &.navColor, &.scrolled{background: #fff;box-shadow: 0px 6px 25px 0px #00000033;
        .navbar{
            .logo{
                .logoColor{fill: #606060;}
                .logoBG{fill: #CE1010;}
                .logoWord{fill: #fff;}
                .logowordInner{fill: #CE1010;}
            }
            .headerContent{
                .header-elements {
                    .search-icon{
                        .searchWhite{stroke: #080808;}
                    }
                }
                .custom-select{
                    .select-selected{color: #080808;border-color:#080808;
                        &::after{content: url("../images/select-arrow-black.svg");}
                    }
                    .select-items{background: #fff;border-color:#080808;
                        li{color: #080808;}
                    }
                }
                .nav-links{
                    .dropdown {
                        a{color: #080808;
                            &::before{background: url("../images/header-dropdown-iconblack.svg") no-repeat;}
                        }
                        .dropdown-content{
                            .dropdown-wrapper{box-shadow: 0px 6px 25px 0px #00000033;
                            }
                        }
                    }
                }
                .hamburger-menu {
                    .button_toggle {
                      span {background: #343434;
                        &:nth-of-type(1) {background: #343434;}
                        &:nth-of-type(2) {background: #343434;}
                      }
                    }
                  }
            }
        }
        .Stickybtn a{box-shadow: 0px 10px 25px 8px #00000033;}
    }
    @media all and (min-width:2560px){
        .navbar{
            .headerContent{
                .nav-links{
                    .dropdown1{
                        .dropdown-content{left: 50%;
                            .dropdown-wrapper{&::before{left: 50%;}}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1800px){
        .navbar{
            .logo{width: 109px;padding: 24px 0px;}
            .headerContent{
                .nav-links{
                    .dropdown {padding: 24px 0px;
                        .dropbtn{
                            &::before{width: 12px;height: 10px;}
                        }
                        .dropdown-content{
                            .dropdown-wrapper{padding: 50px 45px;gap:70px;
                                .dropdown-section-idfy{width: calc(28% - 70px);
                                    .idfy-wrapper{padding: 28px 36px;
                                        .dropdown-image{margin-bottom: 14px;}
                                        h3{margin-bottom: 9px;}
                                        p{margin-bottom:24px}
                                        ul{
                                            li{margin-bottom:24px;img{margin-right: 15px;}}
                                        }
                                    }
                                }
                                .dropdown-section-menu{width: calc(54% - 75px);
                                    .menu-wrapper{
                                        .dropdown-menu{padding: 20px 32px;flex-basis:44%;
                                            h4{margin-bottom: 12px;}
                                        }
                                    }
                                }
                                .dropdown-section-portal{width:20%;
                                    .portal-wrapper{
                                        h5{margin-bottom: 25px;}
                                        ul{
                                            li{margin-bottom: 44px;}
                                        }
                                    }
                                }
                                .dropdown-section-menu2{width: 100%;
                                    .menu-wrapper{
                                        .dropdown-menu{padding: 20px 32px;
                                            h4{margin-bottom: 12px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .dropdown1{
                        .dropdown-content{min-width: 1500px;left: 390%;
                            .dropdown-wrapper{&::before{left: 30%;}}
                        }
                    }
                    .dropdown2{
                        .dropdown-content{min-width: 1456px;left: 200%;
                            .dropdown-wrapper{&::before{left: 40%;}}
                        }
                    }
                    .dropdown3{
                        .dropdown-content{min-width: 784px;
                
                        }
                    }
                    .dropdown4{
                        .dropdown-content{min-width: 555px;
                      
                        }
                    }
                    .dropdown5{
                        .dropdown-content{min-width: 600px;
    
                        }
                    }
                }
                .header-elements{
                    .custom-select{
                        .select-selected{padding: 15px 38px 15px 21px;
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1600px){
        .navbar{
            .logo{width: 109px;padding: 22px 0px;}
            .headerContent{gap: 70px;
                .nav-links{gap:60px;
                    .dropdown {padding: 22px 0px;
                        .dropbtn{
                            &::before{width: 12px;height: 10px;}
                        }
                        .dropdown-content{
                            .dropdown-wrapper{padding: 46px 40px;gap:60px;
                                .dropdown-section-idfy{width: calc(28% - 60px);
                                    .idfy-wrapper{padding: 26px 32px;
                                        .dropdown-image{margin-bottom: 12px;}
                                        h3{margin-bottom: 9px;}
                                        p{margin-bottom:22px}
                                        ul{
                                            li{margin-bottom:22px;img{margin-right: 14px;}}
                                        }
                                    }
                                }
                                .dropdown-section-menu{width: calc(54% - 60px);
                                    .menu-wrapper{
                                        .dropdown-menu{padding: 20px 32px;flex-basis:44%;
                                            h4{margin-bottom: 12px;}
                                        }
                                    }
                                }
                                .dropdown-section-portal{width:20%;
                                    .portal-wrapper{padding: 20px 0px 20px 54px;
                                        h5{margin-bottom: 24px;}
                                        ul{
                                            li{margin-bottom: 40px;}
                                        }
                                    }
                                }
                                .dropdown-section-menu2{
                                    .menu-wrapper{
                                        .dropdown-menu{padding: 20px 30px;
                                            h4{margin-bottom: 12px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .dropdown1{
                        .dropdown-content{min-width: 1400px;left: 400%;
                            .dropdown-wrapper{&::before{left: 28%;}}
                        }
                    }
                    .dropdown2{
                        .dropdown-content{min-width: 1350px;
                            .dropdown-wrapper{&::before{left: 39%;}}
                        }
                    }
                    .dropdown3{
                        .dropdown-content{min-width: 784px;
                
                        }
                    }
                    .dropdown4{
                        .dropdown-content{min-width: 555px;
                  
                        }
                    }
                    .dropdown5{
                        .dropdown-content{min-width: 600px;
                        }
                    }
                }
                .header-elements{
                    .search-icon{svg{width:26px;height:26px;}}
                    .custom-select{
                        .select-selected{padding: 14px 38px 14px 21px;letter-spacing:  -0.24px;}
                        .select-items{
                            li{letter-spacing:  -0.24px;padding: 14px 20px;}
                        }
                    }
                }
            }
        }
        .Stickybtn{bottom: 30px;right: 40px;
            a{height: 45px;width: 45px;}
        }
    }
    @media all and (max-width:1536px){
        .navbar{
            .logo{width: 100px;padding: 20px 0px;}
            .headerContent{gap:60px;
                .nav-links{gap:60px;
                    .dropdown {padding: 20px 0px;
                        .dropbtn{
                            &::before{height: 8px;}
                        }
                        .dropdown-content{
                            .dropdown-wrapper{padding: 42px 36px;gap:50px;
                                .dropdown-section-idfy{width: calc(28% - 50px);
                                    .idfy-wrapper{padding: 24px 30px;
                                        .dropdown-image{margin-bottom: 12px;}
                                        h3{margin-bottom: 9px;}
                                        p{margin-bottom:20px}
                                        ul{
                                            li{margin-bottom:20px;img{margin-right: 12px;}}
                                        }
                                    }
                                }
                                .dropdown-section-menu{width: calc(54% - 50px);
                                    .menu-wrapper{
                                        .dropdown-menu{padding: 20px 30px;flex-basis:44%;
                                            h4{margin-bottom: 10px;}
                                        }
                                    }
                                }
                                .dropdown-section-portal{width:20%;
                                    .portal-wrapper{padding: 18px 0px 18px 50px;
                                        h5{margin-bottom: 22px;}
                                        ul{
                                            li{margin-bottom: 36px;}
                                        }
                                    }
                                }
                                .dropdown-section-menu2{
                                    .menu-wrapper{
                                        .dropdown-menu{padding: 20px 28px;
                                            h4{margin-bottom: 10px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .dropdown1{
                        .dropdown-content{min-width: 1350px;left:380%;
                            .dropdown-wrapper{&::before{left: 28%;}}
                        }
                    }
                    .dropdown2{
                        .dropdown-content{min-width: 1300px;}
                    }
                    .dropdown3{
                        .dropdown-content{min-width: 680px;
           
                        }
                    }
                    .dropdown4{
                        .dropdown-content{min-width: 500px;
                    
                        }
                    }
                    .dropdown5{
                        .dropdown-content{min-width: 500px;
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1440px){
        .navbar{
            .logo{padding: 18px 0px;}
            .headerContent{gap: 50px;
                .nav-links{gap: 50px;
                    .dropdown {padding: 18px 0px;
                        .dropbtn{padding-right: 18px;
                            &::before{height: 8px;}
                        }
                        .dropdown-content{
                            .dropdown-wrapper{padding: 40px 32px;gap:45px;
                                .dropdown-section-idfy{width: calc(28% - 50px);
                                    .idfy-wrapper{padding: 22px 28px;
                                        .dropdown-image{margin-bottom: 10px;}
                                        h3{margin-bottom: 9px;}
                                        p{margin-bottom:18px}
                                        ul{
                                            li{margin-bottom:18px;img{margin-right: 10px;}}
                                        }
                                    }
                                }
                                .dropdown-section-menu{width: calc(54% - 40px);
                                    .menu-wrapper{
                                        .dropdown-menu{padding: 18px 20px;flex-basis:48%;
                                            h4{margin-bottom: 10px;font-size: 16px;}
                                        }
                                    }
                                }
                                .dropdown-section-portal{width:20%;
                                    .portal-wrapper{padding: 18px 0px 18px 40px;
                                        h5{margin-bottom: 20px;}
                                        ul{
                                            li{margin-bottom: 32px; a{font-size: 16px;}}
                                        }
                                    }
                                }
                                .dropdown-section-menu2{
                                    .menu-wrapper{
                                        .dropdown-menu{padding: 18px 24px;
                                            h4{margin-bottom: 10px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .dropdown1{
                        .dropdown-content{min-width: 1200px;left: 420%;
                            .dropdown-wrapper{&::before{left: 24%;}}
                        }
                    }
                    .dropdown2{
                        .dropdown-content{min-width: 1100px;
                            .dropdown-wrapper{&::before{left: 37%;}}
                        }
                    }
                    .dropdown3{
                        .dropdown-content{min-width: 680px;
                 
                        }
                    }
                    .dropdown4{
                        .dropdown-content{min-width: 500px;
                       
                        }
                    }
                    .dropdown5{
                        .dropdown-content{min-width: 500px;
        
                        }
                    }
                }
                .header-elements{gap: 22px;}
            }
        }
        .Stickybtn{bottom: 25px;right: 30px;
            a{height: 40px;width: 40px;img{width: 22px;}}
        }
    }
    @media all and (max-width:1400px){
        .navbar{
            .headerContent{
                .header-elements{
                    .search-icon{svg{width:24px;height:24px;}}
                    .custom-select{
                        .select-selected{padding: 11px 36px 11px 19px;letter-spacing:  -0.20px;}
                        .select-items{
                            li{letter-spacing:  -0.20px;padding: 11px 18px;}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1366px){
        .navbar{
            .logo{width: 100px;padding: 15px 0px;}
            .headerContent{gap:40px;
                .nav-links{gap:40px;
                    .dropdown {padding: 18px 0px;
                        .dropbtn{
                            &::before{height: 8px;}
                        }
                        .dropdown-content{
                            .dropdown-wrapper{padding: 30px 30px;gap:40px;
                                .dropdown-section-idfy{width: calc(28% - 40px);
                                    .idfy-wrapper{padding: 20px 24px;
                                        .dropdown-image{margin-bottom: 10px;}
                                        h3{margin-bottom: 9px;}
                                        p{margin-bottom:16px}
                                        ul{
                                            li{margin-bottom:16px;img{margin-right: 10px;}}
                                        }
                                    }
                                }
                                .dropdown-section-menu{width: calc(54% - 40px);
                                    .menu-wrapper{
                                        .dropdown-menu{padding: 16px 16px;flex-basis:48%;
                                            h4{margin-bottom: 10px;}
                                        }
                                    }
                                }
                                .dropdown-section-portal{width:20%;
                                    .portal-wrapper{padding: 16px 0px 16px 40px;
                                        h5{margin-bottom: 20px;}
                                        ul{
                                            li{margin-bottom: 30px;}
                                        }
                                    }
                                }
                                .dropdown-section-menu2{
                                    .menu-wrapper{
                                        .dropdown-menu{padding: 18px 24px;
                                            h4{margin-bottom: 10px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .dropdown1{
                        .dropdown-content{min-width: 1100px;left: 300%;
                            .dropdown-wrapper{&::before{left: 30%;}}
                        }
                    }
                    .dropdown2{
                        .dropdown-content{min-width: 1000px;}
                    }
                    .dropdown3{
                        .dropdown-content{min-width: 600px;}
                    }
                    .dropdown4{
                        .dropdown-content{min-width: 450px;
               
                        }
                    }
                    .dropdown5{
                        .dropdown-content{min-width: 450px;
            
                        }
                    }
                }
                .header-elements{gap: 20px;}
            }
        }
    }
    @media all and (max-width:1300px){
        .navbar{
            .headerContent{
                .nav-links{
                    .dropdown1{
                        .dropdown-content{min-width: 1000px;left: 380%;
                            .dropdown-wrapper{&::before{left:22%;}}
                        }
                    }
                    .dropdown2{
                        .dropdown-content{min-width: 1000px;
                            .dropdown-wrapper{&::before{left:36%;}}
                        }
                    }
                    .dropdown3{
                        .dropdown-content{min-width: 600px;}
                    }
                    .dropdown4{
                        .dropdown-content{min-width: 450px;
               
                        }
                    }
                    .dropdown5{
                        .dropdown-content{min-width: 450px;
            
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1280px){
        .navbar{
            .headerContent{
                .nav-links .dropdown .dropdown-content .dropdown-wrapper .dropdown-section-portal .portal-wrapper{padding: 16px 0px 16px 30px;}
                .header-elements{
                    .search-icon{svg{width:22px;height:22px;}}
                    .custom-select{
                        .select-selected{padding: 10px 36px 10px 19px;letter-spacing:  -0.15px;}
                        .select-items{
                            li{letter-spacing:  -0.15px;padding: 10px 18px;}
                        }
                    }
                }
            }
        }
        .Stickybtn{bottom: 20px;right: 20px;
            a{height: 35px;width: 35px;img{width: 20px;}}
        }
    }
    @media all and (max-width:1180px){
        .navbar{
            .logo{width: 80px;padding: 15px 0px;}
            .headerContent{gap:30px;
                .nav-links{gap:30px;
                    .dropdown {padding: 16px 0px;
                        a{
                            &::before{right: -16px;height: 8px;}
                        }
                        .dropdown-content{
                            .dropdown-wrapper{padding: 24px;gap:30px;
                                .dropdown-section-idfy{width: calc(28% - 30px);
                                    .idfy-wrapper{padding: 18px 22px;
                                        .dropdown-image{margin-bottom: 10px;}
                                        h3{margin-bottom: 9px;}
                                        p{margin-bottom:14px}
                                        ul{
                                            li{margin-bottom:14px;img{margin-right: 10px;}}
                                        }
                                    }
                                }
                                .dropdown-section-menu{width: calc(54% - 30px);
                                    .menu-wrapper{gap: 0px 30px;
                                        .dropdown-menu{padding: 14px 22px;flex-basis:44%;
                                            h4{margin-bottom: 10px;}
                                        }
                                    }
                                }
                                .dropdown-section-portal{width:20%;
                                    .portal-wrapper{padding: 14px 0px 14px 36px;
                                        h5{margin-bottom: 20px;}
                                        ul{
                                            li{margin-bottom: 24px;}
                                        }
                                    }
                                }
                                .dropdown-section-menu2{
                                    .menu-wrapper{gap: 30px 0px;
                                        .dropdown-menu{padding: 14px 22px;
                                            h4{margin-bottom: 10px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .dropdown1{
                        .dropdown-content{min-width: 1000px;left: 400%;
                            .dropdown-wrapper{&::before{left: 20%;}}
                        }
                    }
                    .dropdown2{
                        .dropdown-content{min-width: 900px;left: 250%;
                            .dropdown-wrapper{&::before{left: 30%;}
                                .dropdown-section-menu2{
                                    .menu-wrapper{
                                        .dropdown-menu{width:30%}
                                    }
                                }
                            }
                        }
                    }
                    .dropdown3{
                        .dropdown-content{min-width: 700px;
                            .dropdown-wrapper{
                                .dropdown-section-menu2{
                                    .menu-wrapper{
                                        .dropdown-menu{width:46%}
                                    }
                                }
                            }
                        }
                    }
                    .dropdown4{
                        .dropdown-content{min-width: 400px;
                            .dropdown-wrapper{
                                .dropdown-section-menu2{
                                    .menu-wrapper{
                                        .dropdown-menu{width:44%}
                                    }
                                }
                            }
                        }
                    }
                    .dropdown5{
                        .dropdown-content{min-width: 400px;
                            .dropdown-wrapper{
                                .dropdown-section-menu2{
                                    .menu-wrapper{
                                        .dropdown-menu{width:44%}
                                    }
                                }
                            }
                        }
                    }
                }
                .header-elements{
                    .custom-select{
                        .select-selected{padding: 10px 36px 10px 20x;
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1024px){
        .navbar{align-items: center;
            .logo{width: 53px;padding: 15px 0px;z-index: 9;}
            .headerContent{
                .hamburger-menu{display: flex;align-items:center;gap:24px;
                        .search-icon-mobile{z-index: 9;opacity: 0;transition: 0.5s all ease-in-out;cursor: pointer;width: 0;height: 0;}
                        .button_toggle {position: relative;width: 24px;height: 6px;cursor: pointer;z-index: 1;transition: opacity 0.25s ease;
                        &.active {
                            span {width: 30px;}
                            .top {transform: translateY(0) translateX(0) rotate(45deg);transition: 0.3s all ease-in-out;background: $colorGray;width: 20px;}
                            .bottom {transform: translateY(0) translateX(0) rotate(-45deg);transition: 0.3s all ease-in-out;background: $colorGray;width: 20px;top: 0;}
                        }
                        span {background: #ffffff;border: none;height: 1.4px;position: absolute;top: 0;left: 0;transition: all 0.35s ease;cursor: pointer;
                            &:nth-of-type(1) {width: 30px;background: #ffffff;}
                            &:nth-of-type(2) {top: 7px;width: 30px;background: #ffffff;}
                        }
                    }
                }
                .nav-menu{position: absolute;top: 0;right: -110%;width: 100%;transition: 0.4s all ease-in-out;overflow: hidden;height: 100vh;
                    &::before {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;z-index: -1;}
                    &.open {right: 0;background: #fff;flex-direction: column;}
                    &.searchOverlay{&::after{content: "";position: absolute;width: 100%;height: 100%;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, 0.5);z-index: 999;}}
                    .scroll-nav{position: relative;padding: 64px 24px 24px 24px;width: 100%;height: 100%;
                        .nav-wrapper{overflow-y: scroll;height:calc(100% - 120px);overflow-x:hidden;
                            .nav-links{margin-top: 12px;flex-direction:column;gap:0;
                                .dropdown{width: 100%;padding:0px;
                                    .dropbtn{position: relative;display: block;font-size: 18px;font-weight: 500;line-height: normal;letter-spacing: -0.54px;text-transform: capitalize;color: $colorBlack;font-family: $fonthelveticaneuemedium;padding: 15px;border-radius: 8px;background: rgba(28, 67, 185, 0.10);margin-bottom: 12px;text-align:left;
                                        &::before{content: "";position: absolute;z-index: 2;background: url("../images/humberger-arrow.svg") no-repeat;right: 25px;width: 20px;height: 10px;transition:all 0.3s ease-in-out;}}
                                    .dropdown-content{position: relative;top:unset;left:unset;min-width:100%;transform:unset;
                                        .dropdown-wrapper{display: block;margin-bottom: 24px;background:none;padding:0;border:none;box-shadow:none;
                                            &::before{content: none;}
                                            .dropdown-section-idfy{display: none;}
                                            .idfy360{display: flex;align-items: center;padding: 10px 24px 10px 16px;border-radius: 12px;border: 1px solid rgba(52, 52, 52, 0.50);margin:0px 17px 18px 17px;
                                                h4{font-size: 18px;color: $colorBlue;font-family: $fonthelveticaneuemedium;margin-left: 16px;}
                                                .redirectArrow{margin-left: auto;}
                                            }
                                            .dropdown-section-menu{width: 100%;
                                                .menu-wrapper{display: block;margin:0px 17px;
                                                    .dropdown-menu{&:not(:last-child){margin-bottom: 20px;};padding:0px 10px;width: 100%;
                                                        h4{color: $colorBlack;font-family: $fonthelveticaneuemedium;font-size: 16px;font-weight: 500;line-height: normal;margin-bottom: 0px;}
                                                        p{display: none;}  
                                                    }
                                                }
                                            }
                                            .dropdown-section-portal{width: 100%;border-left:none;padding:18px 17px 0px 17px;
                                                .portal-wrapper{padding: 0px 10px;
                                                    h5{font-size: 12px;text-transform: uppercase;color: #808080;font-family: $fonthelveticaneuemedium;padding: 18px 0px;border-top: 1px solid #D8D8D8;margin-bottom: 0px;}
                                                    ul{
                                                        li{margin-bottom: 0px;
                                                            a{display: block;color: $colorBlack;font-family: $fonthelveticaneuemedium;font-size: 16px;font-weight: 500;line-height: normal;margin-bottom: 18px;}
                                                        }
                                                    }
                                                }
                                            }
                                            .dropdown-section-menu2{width: 100%;
                                                .menu-wrapper{display: block;margin:0px 17px;
                                                    .dropdown-menu{&:not(:last-child){margin-bottom: 20px;};padding:0px 10px;width: 100%;
                                                        h4{color: $colorBlack;font-family: $fonthelveticaneuemedium;font-size: 16px;font-weight: 500;line-height: normal;margin-bottom: 0px;}
                                                        p{display: none;}  
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .dropdown1,.dropdown2,.dropdown3,.dropdown4,.dropdown5{
                                    .dropdown-content{left: unset;top: unset;width: unset;}
                                }
                                .custom-select-mobile{display: block;position: relative;width: 100%;
                                    p{font-size: 14px;line-height: 17.09px;letter-spacing: -3%;font-family: $fonthelveticaneuemedium;margin: 12px 0px;}
                                    .select-selected-mobile{padding: 17px 35px 17px 17px;font-size: 18px;line-height: 21.98px;font-family: $fonthelveticaneuemedium;border: 1px solid $colorBlack;border-radius: 12px;position:relative;display:flex;gap:10px;
                                        &::before{content: "";position: absolute;z-index: 2;background: url("../images/humberger-arrow.svg") no-repeat;top: 50%;transform: translateY(-50%);right: 25px;width: 20px;height: 10px;transition:all 0.3s ease-in-out;}
                                        &.active-arrow{border-radius: 12px 12px 0px 0px;&::before{transform: rotate(180deg) translateY(50%);}}
                                    }
                                    .select-items-mobile{width: 100%;position: absolute;opacity: 0;height: 0;transition: 0.3s all ease-in-out;overflow: hidden;
                                        &.show{height: auto;opacity: 1;border: 1px solid $colorBlack;border-top: none;border-radius:0px 0px 12px 12px;}
                                        li{padding: 17px;font-size: 18px;line-height: 21.98px;font-family: $fonthelveticaneuemedium;display:flex;gap:10px;}
                                    }
                                }
                            }
                        }
                        .fixCta{z-index: 8;display: flex;justify-content: center;align-items: center;width: 100%;padding: 20px 0px;
                            a{width: 100%;}
                        }
                    }
                }
                .header-elements{display: none;}
            }
        }
    }
    @media screen and (max-width:820px){
        .Stickybtn{bottom: 80px;right: 30px;
            a{height: 60px;width: 60px;img{width: 30px;}}
        }
    }
    @media all and (max-width:720px){
        .navbar{
            .logo{width: 53px;}
        }
        .Stickybtn{bottom: 20px;right: 15px;
        }
    }
}


.bodyNav{
    header .navbar{
        .logo{
            .logoColor{fill: #606060;}
            .logoBG{fill: #CE1010;}
            .logoWord{fill: #fff;}
            .logowordInner{fill: #CE1010;}
        }
    }
}

.search-modal{opacity: 0;visibility: hidden;position: fixed;top: 0;right: 0;left: 0;background: $colorWhite;z-index: 99;transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    &.active{opacity: 1;visibility: visible;}
    .modal-container{width: 100%;
        .search-input{padding: 25px 80px;width: 100%;display:flex;align-items:center;border-bottom:1px solid #343434;
            .search-icon{margin-right: 50px;}
            input{background: $colorWhite;width: calc(100% - 40px);@include font32;line-height: 50%;color: $colorBlack;font-family: $fonthelveticaneuelight;
                &::placeholder{color: $colorBlack;}
            }
            .closeButton{cursor: pointer;}
        }
        .relatedSearch{padding: 40px 180px 70px 180px;
            h2{@include font16;letter-spacing: -2%;line-height: 100%;font-family: $fonthelveticaneuemedium;margin-bottom:24px;}
            .relatedMenu{display: flex;flex-wrap: wrap;align-items: center;gap: 10px;
                .relatedTab{
                    a{@include font16;line-height: 100%;font-family: $fonthelveticaneuemedium;color: $colorBlack;display: flex;align-items: center;padding: 11px 16px;border: 1px solid #343434;border-radius: 50px;img{margin-right: 10px;}}
                }
            }
        }
    }
    @media all and (max-width:1400px){
        .modal-container{
            .search-input{padding: 22px 70px;
                .search-icon{margin-right: 42px;width: 24px;}
                .closeButton{width: 24px;}
            }
            .relatedSearch{padding: 36px 150px 60px 150px;
                h2{margin-bottom:22px;}
                .relatedMenu{gap: 10px;
                    .relatedTab{
                        a{padding: 10px 14px;}
                    }
                }
            }
        }
    }
    @media all and (max-width:1200px){
        .modal-container{
            .search-input{padding: 20px 60px;
                .search-icon{margin-right: 36px;}
            }
            .relatedSearch{padding: 32px 140px 50px 140px;
                h2{margin-bottom:20px;}
                .relatedMenu{gap: 10px;
                    .relatedTab{
                        a{padding: 8px 12px;}
                    }
                }
            }
        }
    }
}

.search-modal-mobile{opacity: 0;visibility: hidden;position: fixed;top: 0;right: 0;left: 0;background: $colorWhite;z-index: 99;transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    &.active{opacity: 1;visibility: visible;}
    .search-container{padding: 0px 24px 20px 20px;
        .search-wrapper{display: flex;justify-content: space-between;align-items: center;width: 100%;
            .logo{width: 53px;padding: 15px 0px;}
            .search-modal-elements{display: flex;align-items: center;gap: 24px;
                .search-icon{width: 20px;height: 20px;}
                .search-close-button{width: 15px;height: 15px;}
            }
        }
        .search-input{width: 100%;margin-top:24px;
            input{font-size: 18px;line-height: 21.98px;font-family: $fonthelveticaneuelight;padding: 17px;color: $colorGray;border: 1px solid $colorGray;border-radius: 8px;width: 100%;}
        }
    }
}

body{
    &.overlay{position: relative;
        &::after {content: "";display: block;position: absolute;width: 100%;height: 100%;bottom: 0;left: 0;right: 0;z-index: 9;box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.16);transform: 0.5s ease-in-out;background: rgba(0, 0, 0, 0.5);}
    }
}




